*.class
*.log

.vagrant

# eclipse specific files
.classpath
.project
.settings


# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# gradle specific
build
.gradle
.cache
cache

# Windows Specific
~*
/04_implementation/sandbox/cbu/HelloWorldRest/nbproject/private/
/04_implementation/sandbox/cbu/HelloWorldRest/dist/
/04_implementation/sandbox/cbu/cbu-scratch/.nb-gradle/profiles/private
04_implementation/sbdfx/.nb-gradle/profiles/private/aux-config
